.addressBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.workDay {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--third-color);
}

.workDayBox {
  border-radius: 30px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: var(--second-bg);
  padding: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 194px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-weight: 500;
  font-style: normal;
}

.nameLink {
  color: var(--placeholder-color);
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 20px;
    line-height: 1.3;
  }
  .workDay {
    font-size: 14px;
    line-height: 1.29;
  }
}
