.list {
  padding-top: 24px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.newsItem{
  height: auto;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .newsItem {
    width: 340px;
    height: 476px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width:1280px) {
  .newsItem {
    width: 361px;
    height: 476px;
  }
  .list{
    gap: 40px 35px;
  }
}