.list {
  padding-top: 24px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .newsItem {
    width: 340px;
    height: 476px;
    display: flex;
    flex-direction: column;
  }
}
