.userWrapper {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 80px;
  height: 38px;
  background-color: var(--main-bg);
  align-items: center;
  justify-content: center;
}

.userIconWrapper {
  border-radius: 100px;
  width: 94px;
  height: 94px;
  background-color: var(--second-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  fill: var(--main-bg);
}

.text {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}

.littleUserIcon {
  fill: var(--second-color);
}

.userBlockWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 98px;
  position: relative;
}

.editIconWrapper {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--second-bg);
}

.editIcon {
  fill: none;
  stroke: var(--main-bg);
}

.titleList {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--notice-color);
  margin-bottom: 20px;
}

.listWrapper {
  padding: 0 20px 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.listItem {
  border: 1px solid var(--main-bg);
  border-radius: 30px;
  padding: 12px;
  width: 100%;
}

.avatarImg {
  border-radius: 100px;
  height: 94px;
  width: 94px;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translate(-20%, 76px);

  align-items: center;
  justify-content: center;
}

.textUpload {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .textUpload {
    font-size: 14px;
    line-height: 1.29;
  }

  .userBlockWrapper {
    padding: 40px 40px 100px 40px;
  }
  .listWrapper {
    padding: 0 40px 40px;
  }
  .avatarImg {
    width: 110px;
    height: 110px;
  }
  .userIconWrapper {
    width: 110px;
    height: 110px;
  }
  .titleList {
    font-size: 18px;
    line-height: 1.33;
  }
  .listItem {
    width: 305px;
  }
  .list {
    font-size: 16px;
    flex-direction: row;
    gap: 14px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .userCardBlock {
    width: 520px;
  }
}
