.userWrapper {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 80px;
  height: 38px;
  background-color: var(--main-bg);
  align-items: center;
  justify-content: center;
}

.userIconWrapper {
  border-radius: 100px;
  width: 94px;
  height: 94px;
  background-color: var(--second-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  fill: var(--main-bg);
}

.text {
  color: var(--second-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}

.littleUserIcon {
  fill: var(--second-color);
}

.userBlockWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 144px;
  position: relative;
}

.editIconWrapper {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--second-bg);
}

.editIcon {
  fill: none;
  stroke: var(--main-bg);
}

.userIconWrapper {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
}

.titleList {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--notice-color);
  margin-bottom: 20px;
}

.listWrapper {
  padding: 0 20px 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.listItem {
  border: 1px solid var(--main-bg);
  border-radius: 30px;
  padding: 12px;
  width: 100%;
}

.avatarImg {
  border-radius: 100px;
  height: 94px;
  width: 94px;
}
