.editUserForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
  margin-right: auto;
}

.avatarWrapper {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: var(--second-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.userIcon {
  fill: var(--third-color);
  height: 40px;
}

.avatarImg {
  border-radius: 100px;
  width: 80px;
  height: 80px;
}

.avatar,
.textEdit {
  color: var(--main-color);
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--main-bg);
}

.error {
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--error);
}

.invalid {
  border: 1px solid var(--error);
}

.uploadLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.uploadInput {
  display: none;
}

.modalStyles {
  width: 260px;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .uploadLabel {
    font-weight: 500;
    text-decoration: none;
    background-color: var(--second-bg);
    border-radius: 30px;
    width: 146px;
    height: 44px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }

  .uploadIcon {
    stroke: var(--main-bg);
    fill: none;
  }

  .modalStyles {
    width: 440px;
    padding: 30px;
  }

  .uploadBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .uploadBox .textEdit {
    width: 226px;
  }
}
