.footprintWrapper {
  width: 68px;
  height: 68px;
  background-color: var(--second-bg);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px auto;
}

.footIcon {
  fill: var(--main-bg);
}

.titleAccent {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--fourth-color);
}

.petFormWrapper {
  padding: 28px 20px 20px;
  border-radius: 30px;
  background-color: var(--form-bg);
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.maleIcon {
  fill: none;
  stroke: var(--blue);
}

.femaleIcon {
  fill: none;
  stroke: var(--red-icon);
}

.genderIcon {
  fill: var(--main-bg);
}

.genderIconGroup {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: start;
  margin-bottom: 2px;
}

.iconDecor {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.male {
  background-color: var(--male-bg);
}

.genderInput:checked + label .maleIcon {
  stroke: var(--second-color);
}

.genderInput:checked + .male {
  background-color: var(--blue);
}

.genderInput:checked + .female {
  background-color: var(--red-icon);
}

.genderInput:checked + .malefemale {
  background-color: var(--main-bg);
}

.genderInput:checked + label .femaleIcon {
  stroke: var(--second-color);
}

.genderInput:checked + label .genderIcon {
  stroke: var(--second-color);
}

.female {
  background-color: var(--female-bg);
}

.malefemale {
  background-color: var(--second-bg);
}

.errorText {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 3px;
  margin-left: 14px;
  margin-right: 14px;
  color: var(--error);
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.avatarImg {
  border-radius: 100px;
  height: 68px;
}

.wrapperInput {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  gap: 8px;
}

.formInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 31px;
}

.submitBtn {
  width: 100px;
  text-transform: capitalize;
}

.linkBtn {
  width: 100px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--disabled);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.datePickerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  outline: none;
}

.iconCalendar {
  position: absolute;
  top: 12px;
  right: 12px;
  fill: none;
  stroke: var(--main-color);
  pointer-events: none;
}

.uploadLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  background-color: var(--second-bg);
  border-radius: 30px;
  width: 117px;
  height: 38px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.uploadIcon {
  stroke: var(--main-bg);
  fill: none;
}

.uploadInput {
  display: none;
}

.uploadBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .linkBtn {
    width: 170px;
    height: 48px;
    font-size: 16px;
    line-height: 1.25;
  }

  .submitBtn {
    width: 170px;
    height: 48px;
  }

  .petFormWrapper {
    padding: 40px 136px;
    border-radius: 60px;
    background-color: var(--form-bg);
    position: relative;
  }

  .titleAccent {
    font-size: 16px;
    line-height: 1.25;
  }

  .title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .maleIcon,
  .femaleIcon,
  .genderIcon {
    height: 24px;
    width: 24px;
  }

  .iconDecor {
    width: 40px;
    height: 40px;
  }

  .footprintWrapper {
    width: 86px;
    height: 86px;
    transform: translateY(-26px);
    margin-bottom: -12px;
  }
  .uploadLabel {
    font-size: 14px;
    line-height: 1.29;
    width: 146px;
    height: 51px;
  }
  .uploadBox {
    gap: 8px;
    justify-content: start;
  }
}

@media screen and (min-width: 1280px) {
  .petFormWrapper {
    width: 592px;
    padding: 60px 80px;
  }
}
