.logoutBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: var(--color-logout);
  background-color: var(--bg-logout);
  transition: background-color 0.3s var(--transition);
  width: 136px;
}

.logoutBtn:hover {
  background-color: var(--dark-second-bg);
}

.userIcon {
  fill: var(--icon-fill);
}

.profileBtn {
  background-color: var(--icon-wrapper);
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s var(--transition);
}

.profileBtn:hover {
  background-color: var(--dark-second-bg);
}

.userNav {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  align-items: center;
}

.userName {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.03em;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--second-theme-color);
}

.avatar {
  border-radius: 100px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .profileBtn {
    width: 50px;
    height: 50px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .userNav {
    width: 276px;
    justify-content: end;
  }
}
