.header {
  padding-top: 10px;
}

.headerWrapper {
  width: 100%;
  background-color: var(--main-theme-bg);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
}

.menuBtn {
  background-color: transparent;
  width: 34px;
  height: 34px;
}

.iconMenu {
  fill: var(--second-theme-color);
}

.authMenuWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.userIcon {
  fill: var(--icon-fill);
}

.profileBtn {
  background-color: var(--icon-wrapper);
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.headerNav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 316px;
}

@media screen and (min-width: 768px) {
  .tabletWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .headerWrapper {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: var(--header-padding-tablet);
  }

  .iconMenu {
    width: 36px;
    height: 36px;
  }

  .header {
    padding-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .loginLink {
    background-color: var(--main-bg);
  }

  .headerNav {
    width: 316px;
    justify-content: space-between;
  }
}
