.petContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.petPage {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .petContainer {
    gap: 16px;
  }
  .petPage {
    padding-bottom: 32px;
  }
}

@media screen and (min-width:1280px) {
  .petContainer{
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  
}