.formStyles {
  display: flex;
  flex-direction: column;
  padding: 27px 20px;
  border-radius: 30px;
  background-color: var(--form-bg);
}

.togglePassButton {
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 12px;
}

.errorWrapper {
  height: 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--error);
  padding-left: 12px;
}

.inputWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 2px;
}

.inputWrapper:last-of-type {
  margin-bottom: 14px;
}

.inputReg {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: var(--main-color);
  padding: 12px;
  border-radius: 30px;
  border: 1px solid var(--border-input);
  transform: border 300ms var(--transition);
}

.inputReg:focus-visible {
  border: 1px solid var(--main-bg);
}

.inputReg::placeholder {
  color: var(--placeholder-color);
}

.inputError {
  border: 1px solid var(--error);
}

.inputSuccess {
  border: 1px solid var(--success);
}

.iconError {
  stroke: var(--error);
  position: absolute;
  top: 12px;
  right: 12px;
}
.iconSuccess {
  fill: var(--success);
  position: absolute;
  top: 12px;
  right: 12px;
}

.secure,
.match {
  color: var(--success);
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  margin-bottom: 12px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.eyeIcon {
  stroke: var(--eye-icon-fill);
  fill: none;
}

.registrationBtn {
  margin-bottom: 12px;
}

.textLink {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: var(--placeholder-color);
  margin-left: auto;
  margin-right: auto;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--third-color);
  margin-left: 4px;
}

.iconPasswordSuccess {
  fill: var(--success);
  position: absolute;
  top: 12px;
  right: 38px;
}

.iconPasswordError {
  stroke: var(--error);
  position: absolute;
  top: 12px;
  right: 38px;
}
