/* overlay */
.overlayBase {
  position: fixed;
  inset: 0;
  background-color: var(--overlay-bg);
  opacity: 0;
  transition: opacity 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.overlayAfterOpen {
  opacity: 1;
}

.overlayBeforeClose {
  opacity: 0;
}

/* modal */
.modalBase {
  background-color: var(--modal-bg);
  border-radius: 30px;
  padding: 20px;
  width: 89%;
  height: auto;
  overflow-y: auto;
  opacity: 0;
  transition: all 300ms var(--transition);
  position: relative;
}

.modalAfterOpen {
  transform: translateY(-20px);
  opacity: 1;
}

.modalBeforeClose {
  transform: translateY(0px);
  opacity: 0;
}

.closeBtn {
  background-color: transparent;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.closeIcon {
  stroke: var(--main-color);
}

.modal {
  color: var(--notice-color);
  padding: 0 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
