@import "modern-normalize/modern-normalize.css";
:root {
  --font-manrope: "Manrope", sans-serif;
  --main-color: #262626;
  --second-color: #fff;
  --third-color: #f6b83d;
  --accent-color: rgba(255, 255, 255, 0.4);
  --link-color: #ffffff;
  --gray-color: #909090;
  --color-logout: #f6b83d;
  --input-color: rgba(38, 38, 38, 0.8);
  --placeholder-color: rgba(38, 38, 38, 0.5);
  --bg-logout: #fff4df;
  --main-bg: #f6b83d;
  --second-bg: #fff4df;
  --third-bg: #f9f9f9;
  --modal-bg: #fff;
  --form-bg: #fff;
  --dark-second-bg: #fbe7c1;
  --cat-404-bg: rgba(255, 255, 255, 0.1);
  --border: #d6d6d6;
  --border-link: rgba(38, 38, 38, 0.15);
  --border-link-active: #f6b83d;
  --border-input: rgba(38, 38, 38, 0.15);
  --border-pagination: rgba(38, 38, 38, 0.2);
  --red-icon: #f43f5e;
  --error: #ef2447;
  --success: #08aa83;
  --blue: #54adff;
  --yellow: #ffc531;
  --transition: ease;
  --eye-icon-fill: #f6b83d;
  --disabled: rgba(38, 38, 38, 0.05);
}

[data-theme="home"] {
  --main-theme-bg: #f6b83d;
  --second-theme-color: #ffffff;
  --fill-logo: #ffffff;
  --link-bg: #f6b83d;
  --mobile-menu-bg: #fff;
  --close-icon: #262626;
  --border-link: transparent;
  --navlink-active: #f6b83d;
  --border-link-modal: rgba(38, 38, 38, 0.4);
  --border-link-modal-active: #f6b83d;
  --color-link-modal: #262626;
}

[data-theme="default"] {
  --main-theme-bg: transparent;
  --second-theme-color: #262626;
  --fill-logo: #f6b83d;
  --link-bg: transparent;
  --mobile-menu-bg: #f6b83d;
  --close-icon: #fff;
  --border-link: rgba(255, 255, 255, 0.5);
  --navlink-active: rgba(255, 255, 255, 0.5);
  --border-link-modal: rgba(255, 255, 255, 0.15);
  --border-link-modal-active: rgba(255, 255, 255, 0.5);
  --color-link-modal: #fff;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-color);
  font-family: var(--font-manrope);
  background-color: var(--third-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
  font-family: var(--font-manrope);
}
