.inputWrapper {
  width: 100%;
  position: relative;
}

.searchInput {
  width: 100%;
  border: 1px solid var(--border-input);
  border-radius: 30px;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.searchInput::placeholder {
  color: var(--placeholder-color);
}

.serchBtn {
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 12px;
}

.searchIcon {
  stroke: var(--main-color);
  fill: none;
}

.resetFormBtn {
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 40px;
}

.resetIcon {
  stroke: var(--main-color);
}

@media screen and (min-width: 768px) {
  .searchInput {
    width: 265px;
    height: 48px;
    padding: 14px;
    font-size: 16px;
    line-height: 1.25;
  }
  .serchBtn {
    top: 16px;
    right: 16px;
  }
  .resetFormBtn {
    top: 16px;
  }

  .inputWrapper {
    width: 265px;
  }
}
